USE [master]
GO
/****** Object:  Database [FUTURE_LOGISTIC]    Script Date: 13/7/2026 20:53:57 ******/
CREATE DATABASE [FUTURE_LOGISTIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUTURE_LOGISTIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FUTURE_LOGISTIC.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FUTURE_LOGISTIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FUTURE_LOGISTIC_log.ldf' , SIZE = 1122304KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUTURE_LOGISTIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUTURE_LOGISTIC]
GO
/****** Object:  Table [dbo].[AUDITORIA_ETL]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA_ETL](
	[ID_AUDITORIA] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_ETL] [varchar](50) NOT NULL,
	[NOMBRE_ARCHIVO] [varchar](255) NOT NULL,
	[FECHA_EJECUCION] [datetime] NOT NULL,
	[CANTIDAD_REGISTROS] [int] NOT NULL,
	[REGISTROS_EXITOSOS] [int] NOT NULL,
	[REGISTROS_ERROR] [int] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[TIEMPO_EJECUCION_SEGUNDOS] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_AUDITORIA_ETL] PRIMARY KEY CLUSTERED 
(
	[ID_AUDITORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_BODEGA]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_BODEGA](
	[ID_BODEGA] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](10) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[CIUDAD] [varchar](50) NULL,
	[PROVINCIA] [varchar](50) NULL,
	[ESTADO] [varchar](20) NULL,
 CONSTRAINT [PK_DIM_BODEGA] PRIMARY KEY CLUSTERED 
(
	[ID_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_BODEGA_CODIGO] UNIQUE NONCLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CLIENTE]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[TIPO_CLIENTE] [varchar](50) NULL,
	[ESTADO] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
 CONSTRAINT [PK_DIM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DESTINO]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DESTINO](
	[ID_DESTINO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CIUDAD] [varchar](100) NOT NULL,
	[PROVINCIA] [varchar](50) NOT NULL,
	[REGION] [varchar](50) NULL,
	[ID_PROVINCIA] [int] NOT NULL,
 CONSTRAINT [PK_DIM_DESTINO] PRIMARY KEY CLUSTERED 
(
	[ID_DESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_DESTINO_CIUDAD_PROVINCIA] UNIQUE NONCLUSTERED 
(
	[NOMBRE_CIUDAD] ASC,
	[PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCTO]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCTO](
	[ID_PRODUCTO] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](255) NOT NULL,
	[PRESENTACION] [varchar](50) NOT NULL,
	[PAQUETES_POR_FARDO] [int] NOT NULL,
	[PESO_POR_PAQUETE_KG] [decimal](10, 2) NOT NULL,
	[PESO_FARDO_KG] [decimal](10, 2) NOT NULL,
	[TIPO_AZUCAR] [varchar](50) NOT NULL,
	[UMA] [varchar](10) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DIM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PROVINCIA]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PROVINCIA](
	[ID_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PROVINCIA] [varchar](100) NOT NULL,
	[REGION] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_PROVINCIA_NOMBRE] UNIQUE NONCLUSTERED 
(
	[NOMBRE_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TRANSACCION]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TRANSACCION](
	[ID_TRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[ORDEN_DESPACHO] [varchar](20) NOT NULL,
	[FECHA_DESPACHO] [date] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [varchar](20) NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[ID_BODEGA] [int] NOT NULL,
	[KILOS_DESPACHADOS] [int] NOT NULL,
	[UMA] [varchar](10) NOT NULL,
	[LOTE] [varchar](10) NOT NULL,
	[RUMA_DESPACHO] [varchar](20) NOT NULL,
	[FECHA_INSERCION] [datetime] NOT NULL,
 CONSTRAINT [PK_DIM_TRANSACCION] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_TRANSACCION_ORDEN] UNIQUE NONCLUSTERED 
(
	[ORDEN_DESPACHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HECHOS_DESPACHOS]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_DESPACHOS](
	[FECHA] [date] NOT NULL,
	[ORDEN_DESPACHO] [varchar](20) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_BODEGA] [int] NOT NULL,
	[ID_PRODUCTO] [varchar](20) NOT NULL,
	[RUMA_DESPACHO] [varchar](20) NOT NULL,
	[UMA] [varchar](10) NOT NULL,
	[LOTE] [varchar](10) NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[KILOS_DESPACHADOS_CLIENTE] [int] NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[ID_TRANSACCION] [int] NOT NULL,
 CONSTRAINT [PK_HECHOS_DESPACHOS] PRIMARY KEY CLUSTERED 
(
	[ORDEN_DESPACHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HECHOS_DEVOLUCIONES]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_DEVOLUCIONES](
	[FECHA_DEVOLUCION] [date] NOT NULL,
	[ORDEN_DEVOLUCION] [varchar](20) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[ID_DESTINO] [int] NOT NULL,
	[ID_BODEGA] [int] NOT NULL,
	[RUMA_DESTINO] [varchar](20) NOT NULL,
	[KILOS_DEVUELTOS] [int] NOT NULL,
	[MOTIVO_DEVOLUCION] [varchar](100) NOT NULL,
	[ID_PRODUCTO] [varchar](20) NOT NULL,
	[ID_TRANSACCION_ORIGEN] [int] NOT NULL,
 CONSTRAINT [PK_HECHOS_DEVOLUCIONES] PRIMARY KEY CLUSTERED 
(
	[ORDEN_DEVOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HECHOS_TRANSPORTE]    Script Date: 13/7/2026 20:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HECHOS_TRANSPORTE](
	[FECHA] [date] NOT NULL,
	[ORDEN_TRANSPORTE] [varchar](20) NOT NULL,
	[ID_PRODUCTO] [varchar](20) NOT NULL,
	[ID_BODEGA] [int] NOT NULL,
	[CTD_TEORICA_DESDE] [int] NOT NULL,
	[CTD_TEORICA_HACIA] [int] NOT NULL,
	[RUMA_ALMACENAMIENTO] [varchar](20) NOT NULL,
	[UMA] [varchar](10) NOT NULL,
	[LOTE] [varchar](10) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HECHOS_TRANSPORTE] PRIMARY KEY CLUSTERED 
(
	[ORDEN_TRANSPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_BODEGA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_BODEGA] ON [dbo].[HECHOS_DESPACHOS]
(
	[ID_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_CLIENTE]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_CLIENTE] ON [dbo].[HECHOS_DESPACHOS]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_DESTINO]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_DESTINO] ON [dbo].[HECHOS_DESPACHOS]
(
	[ID_DESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_FECHA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_FECHA] ON [dbo].[HECHOS_DESPACHOS]
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_LOTE]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_LOTE] ON [dbo].[HECHOS_DESPACHOS]
(
	[LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_PRODUCTO]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_PRODUCTO] ON [dbo].[HECHOS_DESPACHOS]
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_DESPACHOS_PROVINCIA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_DESPACHOS_PROVINCIA] ON [dbo].[HECHOS_DESPACHOS]
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DEVOLUCIONES_BODEGA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_DEVOLUCIONES_BODEGA] ON [dbo].[HECHOS_DEVOLUCIONES]
(
	[ID_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DEVOLUCIONES_CLIENTE]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_DEVOLUCIONES_CLIENTE] ON [dbo].[HECHOS_DEVOLUCIONES]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DEVOLUCIONES_DESTINO]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_DEVOLUCIONES_DESTINO] ON [dbo].[HECHOS_DEVOLUCIONES]
(
	[ID_DESTINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DEVOLUCIONES_FECHA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_DEVOLUCIONES_FECHA] ON [dbo].[HECHOS_DEVOLUCIONES]
(
	[FECHA_DEVOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DEVOLUCIONES_PRODUCTO]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_DEVOLUCIONES_PRODUCTO] ON [dbo].[HECHOS_DEVOLUCIONES]
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_TRANSPORTE_BODEGA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_TRANSPORTE_BODEGA] ON [dbo].[HECHOS_TRANSPORTE]
(
	[ID_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HECHOS_TRANSPORTE_FECHA]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_TRANSPORTE_FECHA] ON [dbo].[HECHOS_TRANSPORTE]
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HECHOS_TRANSPORTE_LOTE]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_TRANSPORTE_LOTE] ON [dbo].[HECHOS_TRANSPORTE]
(
	[LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HECHOS_TRANSPORTE_PRODUCTO]    Script Date: 13/7/2026 20:53:58 ******/
CREATE NONCLUSTERED INDEX [IX_HECHOS_TRANSPORTE_PRODUCTO] ON [dbo].[HECHOS_TRANSPORTE]
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITORIA_ETL] ADD  DEFAULT (getdate()) FOR [FECHA_EJECUCION]
GO
ALTER TABLE [dbo].[DIM_BODEGA] ADD  DEFAULT ('DURAN') FOR [CIUDAD]
GO
ALTER TABLE [dbo].[DIM_BODEGA] ADD  DEFAULT ('GUAYAS') FOR [PROVINCIA]
GO
ALTER TABLE [dbo].[DIM_BODEGA] ADD  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[DIM_CLIENTE] ADD  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[DIM_CLIENTE] ADD  DEFAULT (getdate()) FOR [FECHA_CREACION]
GO
ALTER TABLE [dbo].[DIM_PRODUCTO] ADD  DEFAULT ('ACTIVO') FOR [ESTADO]
GO
ALTER TABLE [dbo].[DIM_TRANSACCION] ADD  DEFAULT (getdate()) FOR [FECHA_INSERCION]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] ADD  DEFAULT ('DAÑADO EMPAQUE') FOR [MOTIVO_DEVOLUCION]
GO
ALTER TABLE [dbo].[DIM_DESTINO]  WITH CHECK ADD  CONSTRAINT [FK_DIM_DESTINO_PROVINCIA] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[DIM_PROVINCIA] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[DIM_DESTINO] CHECK CONSTRAINT [FK_DIM_DESTINO_PROVINCIA]
GO
ALTER TABLE [dbo].[DIM_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_DIM_TRANSACCION_BODEGA] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[DIM_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[DIM_TRANSACCION] CHECK CONSTRAINT [FK_DIM_TRANSACCION_BODEGA]
GO
ALTER TABLE [dbo].[DIM_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_DIM_TRANSACCION_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[DIM_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[DIM_TRANSACCION] CHECK CONSTRAINT [FK_DIM_TRANSACCION_CLIENTE]
GO
ALTER TABLE [dbo].[DIM_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_DIM_TRANSACCION_DESTINO] FOREIGN KEY([ID_DESTINO])
REFERENCES [dbo].[DIM_DESTINO] ([ID_DESTINO])
GO
ALTER TABLE [dbo].[DIM_TRANSACCION] CHECK CONSTRAINT [FK_DIM_TRANSACCION_DESTINO]
GO
ALTER TABLE [dbo].[DIM_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_DIM_TRANSACCION_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DIM_TRANSACCION] CHECK CONSTRAINT [FK_DIM_TRANSACCION_PRODUCTO]
GO
ALTER TABLE [dbo].[HECHOS_DESPACHOS]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_DESPACHOS_TRANSACCION] FOREIGN KEY([ID_TRANSACCION])
REFERENCES [dbo].[DIM_TRANSACCION] ([ID_TRANSACCION])
GO
ALTER TABLE [dbo].[HECHOS_DESPACHOS] CHECK CONSTRAINT [FK_HECHOS_DESPACHOS_TRANSACCION]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCIONES_BODEGA] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[DIM_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [FK_DEVOLUCIONES_BODEGA]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCIONES_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[DIM_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [FK_DEVOLUCIONES_CLIENTE]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCIONES_DESTINO] FOREIGN KEY([ID_DESTINO])
REFERENCES [dbo].[DIM_DESTINO] ([ID_DESTINO])
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [FK_DEVOLUCIONES_DESTINO]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCIONES_PROVINCIA] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[DIM_PROVINCIA] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [FK_DEVOLUCIONES_PROVINCIA]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCIONES_TRANSACCION] FOREIGN KEY([ID_TRANSACCION_ORIGEN])
REFERENCES [dbo].[DIM_TRANSACCION] ([ID_TRANSACCION])
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [FK_DEVOLUCIONES_TRANSACCION]
GO
ALTER TABLE [dbo].[HECHOS_TRANSPORTE]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_TRANSPORTE_BODEGA] FOREIGN KEY([ID_BODEGA])
REFERENCES [dbo].[DIM_BODEGA] ([ID_BODEGA])
GO
ALTER TABLE [dbo].[HECHOS_TRANSPORTE] CHECK CONSTRAINT [FK_HECHOS_TRANSPORTE_BODEGA]
GO
ALTER TABLE [dbo].[HECHOS_TRANSPORTE]  WITH CHECK ADD  CONSTRAINT [FK_HECHOS_TRANSPORTE_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[HECHOS_TRANSPORTE] CHECK CONSTRAINT [FK_HECHOS_TRANSPORTE_PRODUCTO]
GO
ALTER TABLE [dbo].[HECHOS_DESPACHOS]  WITH CHECK ADD  CONSTRAINT [CK_DESPACHO_KILOS] CHECK  (([KILOS_DESPACHADOS_CLIENTE]>=(50) AND [KILOS_DESPACHADOS_CLIENTE]<=(500)))
GO
ALTER TABLE [dbo].[HECHOS_DESPACHOS] CHECK CONSTRAINT [CK_DESPACHO_KILOS]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [CK_DEVOLUCION_KILOS] CHECK  (([KILOS_DEVUELTOS]>=(1) AND [KILOS_DEVUELTOS]<=(150)))
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [CK_DEVOLUCION_KILOS]
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES]  WITH CHECK ADD  CONSTRAINT [CK_DEVOLUCION_MOTIVO] CHECK  (([MOTIVO_DEVOLUCION]='CANCELACIÓN DE PEDIDO' OR [MOTIVO_DEVOLUCION]='DESPACHO DUPLICADO' OR [MOTIVO_DEVOLUCION]='ERROR EN PRODUCTO DESPACHADO' OR [MOTIVO_DEVOLUCION]='ERROR EN CANTIDAD DESPACHADA' OR [MOTIVO_DEVOLUCION]='FALLA EN EMPAQUE'))
GO
ALTER TABLE [dbo].[HECHOS_DEVOLUCIONES] CHECK CONSTRAINT [CK_DEVOLUCION_MOTIVO]
GO
ALTER TABLE [dbo].[HECHOS_TRANSPORTE]  WITH CHECK ADD  CONSTRAINT [CK_TRANSPORTE_KILOS] CHECK  (([CTD_TEORICA_DESDE]=[CTD_TEORICA_HACIA]))
GO
ALTER TABLE [dbo].[HECHOS_TRANSPORTE] CHECK CONSTRAINT [CK_TRANSPORTE_KILOS]
GO
USE [master]
GO
